{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded p-4">
            {% if msg %}
                <div class="alert alert-danger mt-2" role="alert">
                    Login to Order
                </div>
            {% else %}
            <h3 class="alert alert-light border rouned">Login</h3>
            {% endif %}
            <form action="/login" method="POST">
                {% csrf_token %}

                {% if error %}
                    <div class="alert alert-danger mt-2" role="alert">
                        {{error}}
                    </div>
                {% endif%}
                <!--mobile
                <div class="form-group mt-2">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control form-control-sm" placeholder="6844929108" >
                </div>
                -->
                <!--email-->
                <div class="form-group mt-2">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control form-control-sm" placeholder="Example@gmail.com" >
                </div>

                 <!--passsword-->
                <div class="form-group mt-2">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm">
                </div>


                <!--button-->
                <div class="form-group mt-2">
                    {% if msg %}
                    <input hidden type="text" name="return_url" value="{{return_url}}">
                    <input class="btn btn-sm btn-success col-lg-4" type="submit" value="Login">
                    {% else %}
                    <input class="btn btn-sm btn-success col-lg-4" type="submit" value="Login">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}